
/****************************************************************************
                                    Setup
****************************************************************************/        

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.315rem;
    line-height: 1.6;
    color: #222C2A;
}

img {
    max-width: 100%;
    align-self: flex-start;
}

h1,
h2 {
    margin-top: 0;
    line-height: 1.1;
}


h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2.25rem;
}

main {
    padding: 4em 0;
}

section {
    padding: 4em 0;
    color: #F3EED9;
}

.container {
    width: 85%;
    max-width: 1128px;
    margin: 0 auto;
}


/****************************************************************************
                                   Sections
****************************************************************************/ 
.header {
    background-color: #F3EED9;
    text-align: center;
    min-height: 660px;
    display: flex;
    align-items: center;
}

.hero-header {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #824936;
}

.hero-text {
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0 0 .25em
}

.main-header {
    text-align: center;
    color: #824936;
    margin-bottom: 2rem;
}

.section-one {
    background-color: #222C2A;
}

.section-two {
    background-color: #824936;
}

/****************************************************************************
                                   Media Queries
****************************************************************************/ 

@media (min-width: 600px) {
    .row {
        display: flex;
        gap: 5em;
    } 

    .col {
        width: 100%;
    }

    .hero-header {
        font-size: 3.75rem;
    }

}


